.finCompra__titulo{
    text-align: center;
    margin: 5px 0 10px 0;
}

.finCompra {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.finCompra__principal {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finCompra__formulario {
    width: 100%;
    padding: 2rem 1rem 0 0;
}

.fincompra_formulario_01,
.fincompra_formulario_02 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 3.5rem 0;
}

.fincompra_formulario_02 {
    background-color: rgba(250, 235, 215, 0.377);

}

.finCompra__boton {
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 2rem 0;

}

@media (max-width: 480px) {



    .finCompra__formulario {
        padding: 1.1rem 0 0 0;
    }

.fincompra_formulario_01,
.fincompra_formulario_02 {

    padding: 0.4rem 3.5rem 0;
}



    .finCompra__boton {
    padding: 0.5rem 0;
    

}

}

@media (max-width: 769px) {}