@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

.inicial {
  width: 100%;
  min-height: calc(100vh - var(--desdeabajo-2));
  min-height: calc(100dvh - var(--desdeabajo-2));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

}

.inicial__logo {
  width: 40vw;
  width: 40dvw;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  border-radius: 100%;
  box-shadow: 4px 4px 7px rgba(128, 128, 128, 0.6);
  overflow: hidden;
  margin-top: 10dvh;
  margin-bottom: var(--espaco-4-80);
}

.inicial__logo_img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.inicial__bienvenida {
  font-family: "Slackside One", cursive;
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}

.inicial__bienvenida p {
  margin: 5px 0;
}

@media screen and (min-width: 900px ) {
  .inicial {
    max-width: 720px;
  }

  .inicial__logo {
    width: 15vw;
    width: 15dvw;
  }

}