@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

.inicial {
  width: 100vw;
  width: 100dvw;
  min-height: calc(100vh - var(--desdeabajo-2));
  min-height: calc(100dvh - var(--desdeabajo-2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.inicial__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 4px 4px 7px rgba(128, 128, 128, 0.6);
  overflow: hidden;
  width: 70vw;
  width: 70dvw;
  aspect-ratio: 1/1;
  margin-bottom: var(--espaco-4-80);
}

.inicial__logo img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.inicial__bienvenida {
  font-family: "Slackside One", cursive;
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}

.inicial__bienvenida p {
  margin: 5px 0;
}

@media screen and (min-width: 1025px) {
  .inicial {
    max-width: 720px;
  }

  .inicial__logo {
    width: 70%;
  }

}