@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

.inicial {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.inicial__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 4px 4px 7px rgba(128, 128, 128, 0.6);
  overflow: hidden;
  width: 330px;
  aspect-ratio: 1/1;
  margin-bottom: var(--espaco-4-80);
}

.inicial__logo img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.inicial__bienvenida {
  font-family: "Slackside One", cursive;
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}

.inicial__bienvenida p {
  margin: 5px 0;
}

@media (max-width: var(--movil)) {
  .inicial {
    padding: var(--espaco-2-5);
    min-height: 80vh;
    min-height: 80dvh;
  }

  .inicial__logo {
    width: 70%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
  }

  .inicial__bienvenida {
    font-size: 1.5em;
  }
}