.rsmCompra {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: var(--espaco-2-5);
}

.rsmCompra__principal {
    width: 100%;
    height: 80vh;
    height: 80dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--espaco-4-80);
}

.rsmCompra__boton{
    padding: 10px;
    display: flex;
    justify-content: center;
}