.rsmCompra {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 10px;
}

.rsmCompra__principal {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
}

.rsmCompra__boton{
    display: flex;
    justify-content: center;
}