.menu {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 3px;
  box-shadow: 0px -2px 4px 0px gray;
}

.menu button {
  margin: 0 0 0 10px;
  background-color: transparent;
  border: 0;
  width: var(--espacio-3);
}

.menu__carrito {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.menu__cantidad {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -20%);
  background-color: red;
  color: white;
  font-size: var(--texto-base);
  font-weight: bold;
  width: var(--espacio-4-5);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: var(--espacio-1);
}

@media (min-width: var(--desktop)) {
  .menu {
    height: 60px;
  }
}