.menu {
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-fondo-menu);
  border-radius: 3px;
  box-shadow: 0px -2px 4px 0px rgba(128, 128, 128, 0.3);
}

.menu__carrito {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__cantidad {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -30%);
  background-color: red;
  color: white;
  font-size: var(--texto-base);
  font-weight: bold;
  width: var(--espacio-4-5);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: var(--espacio-1);
}