.producto {
  display: flex;
  justify-content: center;
  margin: 0 0.5rem;
}

.producto__caja {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1 / 1.2;
  cursor: pointer;
  background-color: var(--color-primario);
  box-shadow: var(--sombra-boton);
  border: 1px solid var(--color-borde);
  border-radius: var(--espacio-2);
  transition: box-shadow 0.1s, transform 0.1s;

}

.producto__caja:active {
  box-shadow: var(--sombra-suave-activa);
  transform: scale(0.98);
}

.producto__imagenContenedor {
  width: 90%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: var(--espacio-2);
}

.producto__imagen {
  width: 99%;
  aspect-ratio: 1/1;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  object-fit: contain;
  border-radius: var(--espacio-1);
}

.producto__nombre {
  display: flex;
  justify-content: center;
  background-color: rgba(243, 243, 239, 1);
  padding: var(--espacio-3) 0 var(--espacio-1) 0;

  width: 100%;

}

.producto__titulo {
  font-size: var(--texto-lg);
  margin: 0;
  color: inherit;
}