.principal{
    width: 100%;
    height: 80vh;
    margin: 15px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    overflow-y: auto;
   /* overflow-x: hidden; */
    scroll-behavior: smooth;
}