.principal {
    display: flex;
    align-items: center;
    gap: var(--espacio-2);
}

.principal__resta,
.principal__suma {
    cursor: pointer;
    border: 1px solid var(--color-borde-formularios);
    box-shadow: var(--sombra-suave);
    height: var(--espacio-5);
    aspect-ratio: 1/2;
    padding: var(--espacio-1);
    border-radius: 3px;
    background: var(--color-primario);

    &&:active {
        box-shadow: var(--sombra-suave-activa);
    }

    && img {
        width: var(--espacio-3);
    }
}

.principal__titulovalor {
    font-size: var(--texto-base);
    font-weight: bold;
    text-align: center;
}