.principal {
    display: flex;
    justify-content: center;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 190px;
    cursor: pointer;
    box-shadow: 2px 2px 3px 1px rgba(68, 66, 66, 0.151);
    border-radius: 5px;
    padding: 5px 0;

    & h3 {
        margin: 5px 0 0 0;
    }

    &&:active {
        box-shadow: inset 2px 2px 3px 1px 5px rgba(147, 143, 143, 0.151);
        transition: 0.5s;
        scale: 0.99;
    }


}

.cajaImagen {
    width: 80%;
    height: 70%;
    background-color: white;
    margin: 10px 0 0 0;

}