@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.filtrado {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.filtrado__principal {
  width: 100%;
  height: 80vh;
  height: 80dvh;
  margin: var(--espacio-4) auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.filtrado__principal::-webkit-scrollbar {
  display: none;
}

.filtrado__subcats {
  display: flex;
  flex-direction: column;
}

.filtrado__titulo {
  margin: 0.2em 0 0.3em 2em;
  text-align: left;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: "B612 Mono", monospace;
}

.filtrado__articulos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: var(--espacio-4);
  padding: 0 var(--espacio-4);
}

.filtrado__articulos::-webkit-scrollbar {
  display: none;
}

.filtrado__articulos {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: var(--tablet)) {
  .filtrado__titulo {
    font-size: var(--espacio-4);
    margin: 0.2em 0 0.2em 1em;
  }

  .filtrado__articulos {
    gap: 4vw;
  }
}

@media (max-width: var(--movil)) {

  .filtrado__principal {
    min-height: 80vh;
    min-height: 80dvh;
    margin: 0 auto;
    padding: 0 var(--espacio-2);
  }

  .filtrado__subcats {
    display: flex;
    flex-direction: column;
    gap: var(--espacio-4);
  }

  .filtrado__titulo {
    font-size: 0.95rem;
    margin: 0.2em 0 0.2em 0.8em;
  }

  .filtrado__articulos {
    gap: 5vw;
    gap: 5dvw;
    padding: 0 0.5rem;
  }
}