.cabecera {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

.menu {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 90;
    background: rgba(211, 211, 211, 0.5);
}

.total__container {
    padding: 50px 0;
    height: 100vh;
    height: 100dvh;
}