

.boton_active , .boton_disabled {
    width: 250px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color-borde);
    border-radius: 7px;
    font-size: var(--texto-base);
    color: black;
    background-color: var(--color-primario);
    box-shadow: 2px 3px 8px 1px grey, inset 2px 3px 8px 1px rgb(226, 228, 226);
    cursor: pointer;
}

.boton_active {
    color: black;
    background-color: var(--color-primario);
}

.boton_disabled {
    color: rgb(129, 121, 121);
    background-color: var(--color-primario);
    cursor: not-allowed;
}

.boton_active:hover {
    box-shadow: 2px 3px 7px 1px rgba(128, 128, 128, 0.5), inset 2px 3px 8px 1px rgb(240, 238, 219);
}

.boton_active:active {
    box-shadow: inset 2px 3px 8px 1px rgb(116, 111, 111);
}

@media (max-width: var(--movil)) {
    .boton_active, .boton_disabled {
        width: 100%;
        font-size: var(--texto-base);
    }
}