.arrowBtn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: rgba(150, 150, 150, 0.2);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: opacity 0.2s ease;

    scale: 1;
    transition: 0.5s;

    &&:hover {
        opacity: 1;
        scale: 1.2;
        transition: 0.5s;
    }

    &&:active {
        scale: 1;
    }
}

.up {
    top: 80px;
    /* debajo de Cabecera */
}

.down {
    bottom: 120px;
    /* arriba del menú */
}