.total__container {
    max-width: var(--movil);
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: var(--color-primario);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: var(--desktop)) {
    .total__container {
        max-height: 90vh;
        margin: 5vh auto;
    }
}

@media (min-width: var(--movil)) {
    .total__container {
        height: calc(100vh - 50px);
        padding-bottom: 50px;
    }
}