.principal {
   align-self: center;
   flex: none;
   width: 95%;
   height: 120px;
   display: flex;
   align-items: center;
   background-color: rgba(243, 243, 239, 0.527);
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   margin: 5px 0;
   border-radius: 4px;
   overflow: hidden;
}

.principal__cajaImagen {
   display: flex;
   width: 25%;
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin: 0 auto;
}

.principal__cajaImagen_imagen {
   width: 99%;
   aspect-ratio: 1/1;
   background-size:contain ;
   background-position: center;
   background-repeat: no-repeat;
   border: none ;
   border-radius: 5px;
}

.principal__derecha {
   
   height: 100%;
   display: flex;
   flex: 1 1 0;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 8px;
   background-color: rgba(250, 235, 215, 0.377);
   box-sizing: border-box;
}

.principal__derecha__nombre {
   height: 20%;
   font-size: var(--texto-xl);
   font-weight: bold;
   margin: 0;
   overflow: hidden;
}

.principal__derecha__presentacion {
   height: 40%;
   font-size: var(--texto-xl);
   padding-top: var(--espacio-1);
   font-size: var(--texto-base);
   color: #555;
}

.principal__derecha__sumadoryvalor {
   height: 30%;
   padding-right: var(--espacio-1);
   font-size: var(--texto-xl);
   font-weight: bold;
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
}

@media screen and (min-width: 900px) {

   .principal__cajaImagen {
      flex: 0 0 21%;
   }

   .principal__derecha {
      padding: 12px;
   }
}