.boton-menu {
    margin-left: var(--espacio-2-5);
    background-color: transparent;
    border: 0;
    width: var(--espacio-2-5);
}

.boton-menu__icono--activo {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.boton-menu__icono--inactivo {
    cursor: none;
    opacity: 20%;
}

@media (max-width: var(--movil)) {
    .boton-menu {
        width: var(--espacio-4-75);
    }
}