.boton-menu {
    margin-left: var(--espacio-2-5);
    background-color: transparent;
    border: 0;
    width: var(--iconomenu-ancho-1);
    aspect-ratio: 1/1;
    padding: var(--espacio-2);
}

.boton-menu__icono--activo {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.boton-menu__icono--inactivo {
    cursor: none;
    opacity: 20%;
}

@media (min-width: var(--movil)) {
    .boton-menu {
        width: var(--iconomenu-ancho-3);
    }
}

