.carrito {
    width: 100%;
    min-height: calc(100vh - var(--desdeabajo-2));
    min-height: calc(100dvh - var(--desdeabajo-2));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.carrito__principal {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--espacio-4);
}

.carrito__principal__mensaje{
    width: 50%;
    height: calc(100dvh - 12.50rem);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2vh;
}
.carrito__listaArticulos {
    width: 95%;
    height: calc(100dvh - 12.50rem);
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    overflow-y: hidden;
}

.carrito__listaArticulos::-webkit-scrollbar {
    display: none;
}

.carrito__totales {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 110px;
    width: 100%;
    height: 9vh;
    height: 9dvh;
    background-color: var(--color-primario);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.02);
}

.carrito__subTotales {
    width: 90%;
    border-bottom: 1px solid black;
    margin: 0 5px;
}

.carrito__subTotales p {
    margin: 0.625rem 0 0 0;
    padding-bottom:5px ;
}

.carrito__totalCompra {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-top: 5px;
}

.carrito__botones {
    position: absolute;
    bottom: var(--desdeabajo-1-5);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--espacio-1);
}



@media screen and (min-width: 1025px) {

    .carrito__principal {
        padding-bottom: var(--espacio-3);
    }

    .carrito__listaArticulos {
        gap: 1rem;
    }

    .carrito__totales {
        width: 95%;
            bottom: 120px;
    }


.carrito__botones {
        bottom: var(--desdeabajo-2);

}
}
