.principal {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 0 0 20px 0;
}

.listarticulos {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    background-color: darkgray;
}

.totales {
    width: 90%;
    background-color: beige;
}

.subTotales {
    border-bottom: solid 1px black;

}

.totalCompra {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}